WT_SECRET=
JWT_EXPIRES_IN=

#  Variáveis de ambiente para o MySQL

MYSQL_ROOT_PASSWORD=                 # Senha do root
MYSQL_DATABASE=                   # Nome do banco de dados inicial
MYSQL_USER=                          # Nome do usuário
DATABASE_HOST=                         # Nome do host
MYSQL_PASSWORD=                     # Senha do usuário
MYSQL_PORT=
DATABASE_URL=


# variáveis de ambiente para o server

PORT=